$menu_text: #bfcbd9;
$menu_active_text: #ffffff;
$submenu_active_text: #f4f4f5;
$menu_bg: #304156;
$menu_hover: #263345;
$submenu_bg: #1f2d3d;
$submenu_hover: #001528;

// :export {
//     menu_text: $menu_text;
//     menu_active_text: $menu_active_text;
//     submenu_active_text: $submenu_active_text;
//     menu_bg: $menu_bg;
//     menu_hover: $menu_hover;
//     submenu_bg: $submenu_bg;
//     submenu_hover: $submenu_hover;
// }   