$color-primary: #57cfff;
$color-white: #ffffff;
$color-black: #000000;

$color-text-primary: #333333;
$color-text-secondary: #666666;
$color-text-tertiary: $color-white;
$color-text-quaternary: $color-primary;



$sidebar_width: 210px;

$background-color-primary: #f1f1f1;
$background-color-secondary: $color-white;
$background-color-tertiary: $color-primary;

$background-color-dark: #889aa4;
$background-color-light: #eeeeee;

$border-color-base: #e5e5e5;

$border-width-base: 1px;
$border-style-base: solid;
$border-base: $border-width-base $border-style-base $border-color-base;

$index-normal: 1;
$index-top: 500;
$index-popper: 1000;


