.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all 0.8s;
}

.breadcrumb-enter-from,
.breadcrumb-leave-to {
  opacity: 0;
  transform: translateX(20px);
}

.breadcrumb-enter-to,
.breadcrumb-leave-from {
  opacity: 1;
}

.breadcrumb-leave-active {
  position: absolute;
}
