
/**
scss
.justify-center {
    @include box-center;
}

css
.justify-cnter {
    display: flex;
    justify-content: center;
    align-items: center;
}
**/
@mixin box-center($justify:center, $align: center) {
    display:flex;

    @if($align !=false) {
        align-items: $align;
    }
    @if($justify !=false) {
        justify-content: $justify;
    }
}

/**
scss
.center{
@include center-translate;
}
css
.center {
position: absolute;
top: 50%;
left: 50%;
transform: translate3d(-50%, -50%, 0);
}
**/
@mixin center-translate($direction: both) {
    position: absolute;
    @if $direction == both {
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
    }
    @else if $direction == horizontal {
        left: 50%;
        transform: translate3d(-50%, 0, 0);
    }
    @else if $direction == vertical {
        top: 50%;
        transform: translate3d(0, -50%, 0);
    }
}
