/**
 //SCSS
 .box {
 	@include dimensions(100px,200px);
 }
 // CSS
 .box {
 	width: 100px;
 	height: 200px;
 }
 **/

@mixin dimensions($width: null, $height: $width) {
  width: $width;
  height: $height;
}

